body{
	margin: 0px;
}
.background
{
	background-color: lightgrey;

}
ul{
	width: 100%;
	height: 50px;
	background: darkblue;
	padding: 0px;
	margin: 0px;
	background-size: cover;

}
#p1{
	float: left;
	font-size: 19px;
	color: white;
	
}
#p2{
	float: right;
	font-size: 19px;
	color: white;
}
.pagemiddel{
	width: 90%;
	height: 175px;
	background: white;
	padding: 0px;
	margin: 8px auto;
	/*background-size: cover;*/
	list-style-type: none;
	
     border-top: 3px solid blue;

}
#p4{
	
	float: left;

}

/*element.style {
    margin: 0px;
}*/
.text
{
	text-align: center;
	font-size: 20px;
	margin-left: 150px;
	margin-top: 40px;
	float: left;
	
}
#p6
{
	text-align: center;
	margin-top: 0px;
	/*font-weight: bold;*/
	
}