body
{
margin: 0px;
}
.header
{
background-color: gray;
padding: 10px;
height: 50px;


}
.header .logo
{
float: left;
/*padding: 10px;*/
width: 25%;
font-size: 30px;
font-weight: bold;
line-height: 30px;
padding: 0px 20px;
}
.nav
{
background-color: gray;
height: 40px;
margin-top: 10px;

}
.nav .nav_1
{
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
.banner
{
background-color: gray;
/*height: 150px;*/
margin-top: 10px;

}
.banner .inner-banner
{
text-align: center;
padding: 70px 0px;
font-weight: bold;
font-size: 20px;
}
.container
{
/*background-color: gray;*/
margin-top: 10px;
}
.container .box
{
float: left;
/*background-color: gray;*/
/*width: 50%;*/
text-align: center;
font-size: 30px;
font-weight: bold;
padding: 50px 0px;
}
.b1
{
	width: 30%;
}
.b2
{
	width: 70%;
}
.container .box .inner-box
{
	/*float: left;
	width: 90%*/
    margin: 20px;
}
.bg-gray
{
padding: 200px 0px;
background-color: gray;
}
.footer
{ 
clear: both;
margin-top: 5px;
background-color: gray;
font-size: 30px;
font-weight: bold;
text-align: center;
padding: 10px;
}