.section
{
   background-color: grey;
   border: 2px solid black;
   text-align: center;
   margin: 10px;
   padding: 5px;
}
.section1
{
  
   height: 200px;
   width: 30%;
}
.section2
{
   height: 200px;
   width: 30%;
}
.section3
{
   height: 200px;
   width: 30%;
}