body{
	background-color: lightgrey;

}
.service{
	height: 30vh;
	width: 30%;
	background: blue;
	float: left;
	margin: 10px;
}
.img-service{
	width: 100%
	height: 100%;
	border-radius: 5px 5px 0px 0px;
}
.service-details{
	padding: 20px;
}