p{
	width: 200px;
	height: auto;
	/*max-height: 300px;*/
	background-color: hotpink;
	/*position:fixed;*/

}
div{
	height: 300px;
	width: 300px;
	background-color: purple;
	position: relative;
}
.me
{
  position: absolute;
  background-color: yellow;
  /*top: 20px;
  left: 300px;*/
  bottom: 5px;
  right: 20px;
  padding: 10px;
  border-radius: 20px;
}